/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  /* sticky footer */
}

body {
  height: 100%;
  /* sticky footer */
  display: -webkit-box;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #2E2E2E;
}

body > * {
  flex-shrink: 0;
  /* sticky footer */
}

input, textarea, button {
  font-family: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* Grid styles */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
}

.header {
  height: 870px;
  background-image: url("../img/bg/bg_main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__content {
  position: absolute;
  z-index: 9;
  color: #fff;
  padding-top: 60px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.header__buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.button-round {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: none;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.button-round:hover {
  background-color: #00c470;
}

.header__center-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header__main-title {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin-bottom: 40px;
}

.header__main-description {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.header__scroll {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  transition: .2s ease-in;
}

.header__form {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.header__form input {
  margin-right: 20px;
}

.input {
  width: 240px;
  height: 60px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  font-style: normal;
  font-weight: bold;
  border: none;
  font-size: 14px;
  line-height: 60px;
  color: #FFF;
  padding-left: 30px;
  padding-right: 30px;
}

.input::-webkit-input-placeholder {
  color: #fff;
}

.input:-ms-input-placeholder {
  color: #fff;
}

.input::-ms-input-placeholder {
  color: #fff;
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  outline: none;
  background: #000;
  color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 196, 112, 0.5);
}

.submit {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background: #00C470;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 60px;
  letter-spacing: 4px;
  color: #fff;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: .2s ease-in;
}

.submit:hover {
  background: #039455;
}

.submit:active {
  background: #037242;
}

.section-functional {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-functional__header {
  margin-bottom: 70px;
  text-align: center;
}

.section-functional__row {
  display: -webkit-box;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.section-functional__row > * {
  margin-left: 15px;
  margin-right: 15px;
  flex-shrink: 0;
}

.card {
  text-align: center;
  width: 270px;
}

.card__img {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}

.card__paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #808080;
}

.section-functional__title {
  margin-bottom: 40px;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
}

.section-functional__subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: #2E2E2E;
}

/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
/* Mobile XS */
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/*# sourceMappingURL=main.css.map */