.section-cta::before, .header::before, .section-pricing::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  height: 100%;
  /* sticky footer */
  display: flex;
  /* sticky footer */
  flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #2E2E2E;
}

body > * {
  flex-shrink: 0;
  /* sticky footer */
}

input, textarea, button {
  font-family: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* Grid styles */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
}

.section-cta {
  position: relative;
  padding-top: 83px;
  padding-bottom: 84px;
  background-image: url("../img/bg/cta-bg.jpg");
  background-size: cover;
  background-position: center;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
.section-cta a {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  max-width: 230px;
  text-decoration: none;
  line-height: 60px;
}
@media (max-width: 1199px) {
  .section-cta {
    background-image: url("../img/bg/cta-tablet-bg.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .section-cta {
    background-image: url("../img/bg/cta-mobile-bg.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .section-cta {
    background-image: url("../img/bg/cta-mobileXS-bg.jpg");
    background-size: cover;
    background-position: center;
  }
}

.section-cta__content {
  position: relative;
  z-index: 9;
  text-align: center;
  color: #FFFFFF;
}

.section-cta__header {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  /*media mobilexs*/
}
@media (max-width: 899px) {
  .section-cta__header {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .section-cta__header {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.section-cta__header--bold {
  font-weight: 700;
  text-transform: uppercase;
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #1A1A1A;
  color: #fff;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  /*media tablet*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .footer__row {
    margin-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .footer__row {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__row {
    margin-bottom: 40px;
  }
}

.footer__nav {
  margin-right: 50px;
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 899px) {
  .footer__nav {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .footer__nav:last-child {
    margin-bottom: 0;
  }
}

.footer__nav > * {
  color: #fff;
  text-decoration: none;
}

.footer__nav-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: .2s ease-in;
  margin-right: 50px;
  /*media mobilexs*/
}
.footer__nav-item:last-child {
  margin-right: 0;
}
.footer__nav-item:hover {
  color: #15D784;
}
@media (max-width: 599px) {
  .footer__nav-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.footer__social {
  display: flex;
}

.footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.1);
  transition: .2s ease-in;
  /*media mobilexs*/
}
.footer__social-item:last-child {
  margin-right: 0;
}
.footer__social-item:hover {
  background-color: #15D784;
}
@media (max-width: 599px) {
  .footer__social-item {
    margin-right: 20px;
  }
}

.footer__copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}
.footer__copyright p + p {
  margin-top: 15px;
}

.header {
  background-image: url("../img/bg/bg_main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-image: url("../img/bg/bg_main.jpg");
  background-size: cover;
  background-position: center;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__content {
  z-index: 9;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 100px;
  color: #fff;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .header__content {
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .header__content {
    padding-top: 20px;
  }
}
@media (max-width: 599px) {
  .header__content {
    padding-bottom: 40px;
  }
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .header__buttons {
    width: 100%;
    margin-bottom: 100px;
  }
}
@media (max-width: 899px) {
  .header__buttons {
    margin-bottom: 30px;
  }
}

.button-round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: none;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.button-round:hover {
  background-color: #00c470;
}

.header__center-form {
  text-align: center;
  margin-bottom: 148px;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .header__center-form {
    margin-bottom: 129px;
  }
}
@media (max-width: 899px) {
  .header__center-form {
    margin-bottom: 80px;
  }
}
@media (max-width: 599px) {
  .header__center-form {
    margin-bottom: 50px;
  }
}

.header__main-title {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin-bottom: 40px;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .header__main-title {
    margin-bottom: 35px;
    font-size: 84px;
  }
}
@media (max-width: 899px) {
  .header__main-title {
    margin-bottom: 30px;
    font-size: 70px;
  }
}

.header__main-description {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
.header__main-description p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .header__main-description {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 899px) {
  .header__main-description {
    font-size: 16px;
    max-width: 430px;
  }
}
@media (max-width: 599px) {
  .header__main-description {
    margin-bottom: 30px;
    max-width: 290px;
  }
}

.header__scroll {
  margin-left: auto;
  margin-right: auto;
  transition: .2s ease-in;
}
.header__scroll:hover {
  opacity: .5;
}

.section-clients {
  padding-top: 80px;
  padding-bottom: 80px;
  /*media tablet*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .section-clients {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-clients__header {
  margin-bottom: 60px;
  text-align: center;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-clients__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-clients__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-clients__header {
    margin-bottom: 30px;
  }
}

.section-clients__title {
  margin-bottom: 40px;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-clients__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-clients__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-clients__title {
    margin-bottom: 10px;
  }
}

.section-clients__subtitle {
  font-weight: bold;
  font-size: 48px;
  line-height: 1;
  color: #2E2E2E;
}

.section-focus {
  padding-top: 80px;
  padding-bottom: 40px;
  overflow-x: hidden;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-focus {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-focus {
    padding-bottom: 0;
  }
}
@media (max-width: 599px) {
  .section-focus {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-focus__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /*media mobilexs*/
}
@media (max-width: 899px) {
  .section-focus__row {
    flex-direction: row-reverse;
  }
}
@media (max-width: 599px) {
  .section-focus__row {
    flex-direction: column;
  }
}

.section-focus__row > * {
  flex-shrink: 0;
}

.section-focus__content {
  width: 470px;
  padding-top: 28px;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-focus__content {
    width: 420px;
    padding-top: 12px;
  }
}
@media (max-width: 899px) {
  .section-focus__content {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-focus__content {
    text-align: center;
  }
}
@media (max-width: 599px) {
  .section-focus__content {
    width: 100%;
  }
}

.section-focus__header {
  margin-bottom: 30px;
  /*media tablet*/
}
@media (max-width: 1199px) {
  .section-focus__header {
    margin-bottom: 20px;
  }
}

.section-focus__title {
  margin-bottom: 30px;
}

.section-focus__subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: #2E2E2E;
}

.section-focus__text {
  width: 400px;
  color: #808080;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  /*media tablet*/
  /*media mobile*/
}
@media (max-width: 1199px) {
  .section-focus__text {
    width: unset;
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__text {
    line-height: 1.7;
  }
}

.section-focus__text p {
  margin-bottom: 15px;
}

.section-focus__image {
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-focus__image {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__image {
    width: 170px;
  }
  .section-focus__image img {
    max-width: unset;
    width: 415px;
    height: 330px;
  }
}
@media (max-width: 599px) {
  .section-focus__image {
    width: 100%;
  }
  .section-focus__image img {
    max-width: 100%;
    height: 230px;
  }
}

.section-tasks {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E1E1E1;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-tasks {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-tasks {
    padding-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .section-tasks {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-tasks__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 114px;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-tasks__row {
    padding-left: 75px;
    padding-right: 0;
  }
}
@media (max-width: 899px) {
  .section-tasks__row {
    padding-left: 0;
    flex-direction: row-reverse;
  }
}
@media (max-width: 599px) {
  .section-tasks__row {
    flex-direction: column-reverse;
  }
}

.section-tasks__row > * {
  flex-shrink: 0;
}

.section-tasks__content {
  width: 570px;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-tasks__content {
    width: 495px;
  }
}
@media (max-width: 899px) {
  .section-tasks__content {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__content {
    text-align: center;
  }
}

.section-tasks__header {
  margin-bottom: 30px;
  /*media tablet*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-tasks__header {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-tasks__header {
    width: 290px;
  }
}

.section-tasks__title {
  margin-bottom: 30px;
  /*media tablet*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-tasks__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-tasks__title {
    margin-bottom: 10px;
  }
}

.section-tasks__subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: #2E2E2E;
}

.section-tasks__text {
  width: 400px;
  color: #808080;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  /*media tablet*/
  /*media mobile*/
}
@media (max-width: 1199px) {
  .section-tasks__text {
    width: unset;
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .section-tasks__text {
    line-height: 1.7;
  }
}

.section-tasks__text p {
  margin-bottom: 15px;
}

.section-tasks__image {
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-tasks__image {
    width: 265px;
  }
}
@media (max-width: 899px) {
  .section-tasks__image {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__image {
    width: 100%;
    margin-bottom: 10px;
  }
  .section-tasks__image img {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__form {
  display: flex;
  justify-content: center;
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 899px) {
  .header__form {
    width: 370px;
    flex-direction: column;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 599px) {
  .header__form {
    width: 100%;
  }
}

.header__form > * + * {
  margin-left: 20px;
  /*media mobile*/
}
@media (max-width: 899px) {
  .header__form > * + * {
    margin-left: 0;
    margin-top: 20px;
  }
}

.header__form-input {
  width: 240px;
  /*media mobile*/
}
@media (max-width: 899px) {
  .header__form-input {
    width: 100%;
  }
}

.input {
  display: block;
  height: 60px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  font-style: normal;
  font-weight: bold;
  border: none;
  font-size: 14px;
  line-height: 60px;
  color: #FFF;
  padding-left: 30px;
  padding-right: 30px;
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  outline: none;
  background: #000;
  color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 196, 112, 0.5);
}

.button {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background: #00C470;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 60px;
  letter-spacing: 4px;
  color: #fff;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: .2s ease-in;
  /*media mobile*/
  /*media mobilexs*/
}
.button:hover {
  background: #039455;
}
.button:active {
  background: #037242;
}

.button-outline {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 60px;
  letter-spacing: 4px;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: .2s ease-in;
}
.button-outline:hover {
  background: #15D784;
}
.button-outline:active {
  background: #037242;
}

.button-outline--special {
  height: 60px;
  left: 723px;
  top: 3836px;
  background: #FFFFFF;
  border-radius: 30px;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #2E2E2E;
}
.button-outline--special:hover {
  background: #07a15f;
  color: #fff;
}
.button-outline--special:active {
  background: #037242;
}

.section-functional {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  /*media tablet*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-functional {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .section-functional {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-functional__header {
  margin-bottom: 70px;
  text-align: center;
  /*media tablet*/
  /*media mobile*/
}
@media (max-width: 1199px) {
  .section-functional__header {
    margin-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .section-functional__header {
    margin-bottom: 40px;
  }
}

.section-functional__title {
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-functional__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-functional__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-functional__title {
    margin-bottom: 10px;
  }
}

.section-functional__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 899px) {
  .section-functional__row {
    margin-top: -30px;
  }
}
@media (max-width: 599px) {
  .section-functional__row {
    margin-top: -40px;
  }
}

.section-functional__row > * {
  margin-left: 15px;
  margin-right: 15px;
  flex-shrink: 0;
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 899px) {
  .section-functional__row > * {
    margin-top: 30px;
  }
}
@media (max-width: 599px) {
  .section-functional__row > * {
    margin-top: 40px;
  }
}

.card {
  text-align: center;
  width: 270px;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .card {
    width: 195px;
  }
}
@media (max-width: 899px) {
  .card {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .card {
    width: 290px;
  }
}

.card__img {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  /*media tablet*/
}
@media (max-width: 1199px) {
  .card__img {
    margin-bottom: 20px;
  }
}

.card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  /*media tablet*/
  /*media mobile*/
}
@media (max-width: 1199px) {
  .card__title {
    margin-bottom: 10px;
    min-height: 32px;
  }
}
@media (max-width: 899px) {
  .card__title {
    min-height: unset;
  }
}

.card__paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #808080;
  /*media tablet*/
}
@media (max-width: 1199px) {
  .card__paragraph {
    line-height: 1.57;
  }
}

.section-functional__title {
  margin-bottom: 40px;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-functional__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-functional__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-functional__title {
    margin-bottom: 10px;
  }
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .title {
    margin-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .title {
    font-size: 14px;
  }
}
@media (max-width: 599px) {
  .title {
    margin-bottom: 10px;
  }
}

.title--white {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  /*media mobile*/
}
@media (max-width: 899px) {
  .title--white {
    font-size: 14px;
  }
}

.subtitle {
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .subtitle {
    font-size: 38px;
    margin-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .subtitle {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .subtitle {
    font-size: 26px;
    width: 100%;
  }
}

.section-functional__subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: #2E2E2E;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-functional__subtitle {
    font-size: 38px;
  }
}
@media (max-width: 899px) {
  .section-functional__subtitle {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .section-functional__subtitle {
    font-size: 26px;
  }
}

.subtitle--white {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: #FFFFFF;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .subtitle--white {
    font-size: 38px;
  }
}
@media (max-width: 899px) {
  .subtitle--white {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .subtitle--white {
    font-size: 26px;
  }
}

.section-pricing {
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url("../img/bg/bg-2.jpg");
  background-size: cover;
  background-position: center;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-pricing {
    background-image: url("../img/bg/bg-2-tablet.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-pricing {
    background-image: url("../img/bg/bg-2-mobile.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-pricing {
    padding-top: 40px;
    background-image: url("../img/bg/bg-2-mobilexs.jpg");
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
  }
}

.section-pricing__content {
  position: relative;
  z-index: 9;
}

.section-pricing__header {
  text-align: center;
  margin-bottom: 80px;
  /*media tablet*/
  /*media mobile*/
}
@media (max-width: 1199px) {
  .section-pricing__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-pricing__header {
    margin-bottom: 40px;
  }
}

.section-pricing__title {
  margin-bottom: 40px;
  /*media tablet*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-pricing__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-pricing__title {
    margin-bottom: 10px;
  }
}

.section-pricing__row {
  display: flex;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
  /*media mobile*/
  /*media mobile*/
}
@media (max-width: 899px) {
  .section-pricing__row {
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 899px) {
  .section-pricing__row {
    margin-top: -30px;
  }
}

.section-pricing__row > * {
  width: 300px;
  margin-left: 15px;
  margin-right: 15px;
  /*media mobile*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 899px) {
  .section-pricing__row > * {
    margin-top: 30px;
    width: 270px;
  }
}
@media (max-width: 899px) {
  .section-pricing__row > * {
    width: 300px;
  }
}
@media (max-width: 599px) {
  .section-pricing__row > * {
    width: 290px;
  }
}

.package {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  color: #fff;
  text-align: center;
  /*media tablet*/
}
.package--special {
  background: rgba(21, 215, 132, 0.95);
}

.package__header {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 40px;
}

.package__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #B2B2B2;
}

.package__title--special {
  color: #fff;
}

.package__price {
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.package__period {
  display: inline-block;
  height: 24px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.package__period--special {
  background: rgba(0, 0, 0, 0.1);
}

.package__list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 58px;
}

.package__list-item {
  margin-bottom: 25px;
}
.package__list-item:last-child {
  margin-bottom: 0;
}

.package__button {
  margin-top: auto;
}

.section-clients__slider {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 770px;
  text-align: center;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
@media (max-width: 1199px) {
  .section-clients__slider {
    width: 720px;
  }
}
@media (max-width: 899px) {
  .section-clients__slider {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-clients__slider {
    width: 290px;
  }
}

.slider {
  position: relative;
  padding-bottom: 54px;
  /*media mobile*/
}
@media (max-width: 899px) {
  .slider {
    padding-bottom: 44px;
  }
}

.slider__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #F5F5F5;
  border: none;
  cursor: pointer;
  /*media mobilexs*/
}
.slider__arrow--left {
  top: 53px;
  left: -46px;
  transform: translateX(-100%);
  /*media tablet*/
}
@media (max-width: 949px) {
  .slider__arrow--left {
    left: -30px;
  }
}
.slider__arrow--right {
  top: 53px;
  right: -46px;
  transform: translateX(100%);
}
@media (max-width: 949px) {
  .slider__arrow--right {
    right: -30px;
  }
}
@media (max-width: 599px) {
  .slider__arrow {
    display: none;
  }
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-item__text {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #000000;
  /*media tablet*/
  /*media mobile*/
  /*media mobilexs*/
}
.slider-item__text p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .slider-item__text {
    line-height: 1.5;
  }
}
@media (max-width: 899px) {
  .slider-item__text {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .slider-item__text {
    font-size: 14px;
  }
}

.slider-item__author {
  display: flex;
  align-items: center;
  text-align-last: left;
}

.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /*media mobilexs*/
}
@media (max-width: 599px) {
  .slider-item__avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
}

.slider-item__avatar img {
  border-radius: 50%;
}

.slider-item__author-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /*media mobilexs*/
}
@media (max-width: 599px) {
  .slider-item__author-desc {
    font-size: 14px;
  }
}

.slider-item__author-job {
  color: #00C470;
  margin-bottom: 5px;
}

.slider-item__author-name {
  color: #808080;
}

.slider__pagination {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slider__pagination-item {
  width: 14px;
  height: 14px;
  border: none;
  background: #E1E1E1;
  border-radius: 50%;
  margin-right: 10px;
}
.slider__pagination-item:last-child {
  margin-right: 0;
}

.slider__pagination-item--active {
  background: #00C470;
}

/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
/* Mobile XS */
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/*# sourceMappingURL=main.css.map */
