.package {
    width: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;

    background: rgba(0, 0, 0, 0.75);
    border-radius: 8px;

    color: #fff;
    text-align: center;

    &--special {
    background: rgba(21, 215, 132, 0.95);
}
}



.package__header {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    margin-bottom: 40px;
}

.package__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #B2B2B2;

}


.package__title--special {
    color: #fff;
}


.package__price {
    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.package__period {
    display: inline-block;
    height: 24px;
    padding-left: 15px;
    padding-right: 15px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;

    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.package__period--special {
    background: rgba(0, 0, 0, 0.1);
}

.package__list {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 58px;
}
.package__list-item {
    margin-bottom: 25px;
    &:last-child {
        margin-bottom: 0;
    }
}

.package__button {
    margin-top: auto;
}
.button-outline {
}