.section-clients {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-clients__header {
    margin-bottom: 60px;
    text-align: center;
}

.section-clients__title {
    margin-bottom: 40px;
}

.section-clients__subtitle {
    font-weight: bold;
    font-size: 48px;
    line-height: 1;

    color: #2E2E2E;
}
