

.section-clients__slider {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 770px;
    text-align: center;

    /*media tablet*/
    @media (max-width: 1199px) {
        width: 720px;
    }

    /*media mobile*/
    @media (max-width: 899px) {
        width: 370px;
    }
    /*media mobilexs*/
    @media (max-width: 599px) {
        width: 290px;
    }
}

.slider {
    position: relative;
    padding-bottom: 54px;

    /*media mobile*/
    @media (max-width: 899px) {
        padding-bottom: 44px;
    }
}

.slider__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #F5F5F5;
    border: none;
    
    cursor: pointer;

    &--left {
        top: 53px;
        left: -46px;
        transform: translateX(-100%);
        /*media tablet*/
        @media (max-width: 949px) {
            left: -30px;
        }
    }
    &--right {
        top: 53px;
        right: -46px;
        transform: translateX(+100%);
         @media (max-width: 949px) {
            right: -30px;
        }
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        display: none;
    }
}

.slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.slider-item__text {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    color: #000000;

    p {
        margin-bottom: 15px;
    }

    /*media tablet*/
    @media (max-width: 1199px) {
        line-height: 1.5;
    }

    /*media mobile*/
    @media (max-width: 899px) {
        font-size: 16px;
        margin-bottom: 20px;
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        font-size: 14px;
    }
}

.slider-item__author {
    display: flex;
    align-items: center;
    text-align-last: left;
}

.slider-item__avatar {
    margin-right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 75%;

    /*media mobilexs*/
    @media (max-width: 599px) {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
}
.slider-item__avatar img{
    border-radius: 50%;
    width: 80px;
    height: 80px;

    /*media mobilexs*/
    @media (max-width: 599px) {
        width: 60px;
        height: 60px;
    }
}

.slider-item__author-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    /*media mobilexs*/
    @media (max-width: 599px) {
        font-size: 14px;
    }
}
.slider-item__author-job {
    color: #00C470;
    margin-bottom: 5px;
}
.slider-item__author-name {
    color: #808080;
}

.slider__pagination {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

.slider__pagination-item {
    width: 14px;
    height: 14px;
    border: none;
    background: #E1E1E1;
    border-radius: 50%;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.slider__pagination-item--active {
    background: #00C470;
}