.section-functional__title {
    margin-bottom: 40px;
}

.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;

    color: $accentText;
}

.section-functional__subtitle {
    font-weight: 700;
    font-size: 48px;
    line-height: 1;

    color: #2E2E2E;
}
.subtitle {
}