.section-functional__title {
    margin-bottom: 40px;

    /*media tablet*/
    @media (max-width: 1199px) {
        margin-bottom: 30px;
    }

    /*media mobile*/
    @media (max-width: 899px) {
        margin-bottom: 20px;
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        margin-bottom: 10px;
    }
}

.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;

    color: $accentText;

    /*media tablet*/
    @media (max-width: 1199px) {
        margin-bottom: 30px;
    }
    /*media mobile*/
    @media (max-width: 899px) {
        font-size: 14px;
        margin-bottom: 20px;
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        margin-bottom: 10px; 
    }
}

.title--white {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;

    /*media mobile*/
    @media (max-width: 899px) {
        font-size: 14px;
    }
}

.subtitle {
    /*media tablet*/
    @media (max-width: 1199px) {
        font-size: 38px;
        // margin-bottom: 20px;
    }

    /*media mobile*/
    @media (max-width: 899px) {
        font-size: 30px;
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        font-size: 26px;
        width: 100%;
    }
}
.section-functional__subtitle {
    font-weight: 700;
    font-size: 48px;
    line-height: 1;

    color: #2E2E2E;

    /*media tablet*/
    @media (max-width: 1199px) {
        font-size: 38px;
    }

    /*media mobile*/
    @media (max-width: 899px) {
        font-size: 30px;
    }
    /*media mobilexs*/
    @media (max-width: 599px) {
        font-size: 26px;
    }
}

.subtitle--white {

    font-weight: 700;
    font-size: 48px;
    line-height: 1;

    color: #FFFFFF;

    /*media tablet*/
    @media (max-width: 1199px) {
        font-size: 38px;
    }

    /*media mobile*/
    @media (max-width: 899px) {
        font-size: 30px;
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        font-size: 26px;
    }
}