.section-cta {
    position: relative;
    padding-top: 83px;
    padding-bottom: 84px;

    @include bgImage("../img/bg/cta-bg.jpg"); 

    &::before {
        @extend %overlay;
    }

   

    & a {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 60px;
        max-width: 230px;

        text-decoration: none;
        line-height: 60px;
    }

    /*media tablet*/
    @media (max-width: 1199px) {
        @include bgImage("../img/bg/cta-tablet-bg.jpg"); 
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    &::before {
        @extend %overlay;
    }

    /*media mobile*/
    @media (max-width: 899px) {
        @include bgImage("../img/bg/cta-mobile-bg.jpg"); 
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        @include bgImage("../img/bg/cta-mobileXS-bg.jpg"); 
    }
}


.section-cta__content {
    position: relative;
    z-index: 9;
    text-align: center;
    color: #FFFFFF;
}

.section-cta__header {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 22px;
    line-height: 1;

   
    @media (max-width: 899px) {
        margin-bottom: 30px;
        font-size: 20px;
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        margin-bottom: 20px;
        font-size: 18px;
    }
}

.section-cta__header--bold {
    font-weight: 700;
    text-transform: uppercase;
}

