.section-cta {
    position: relative;
    padding-top: 83px;
    padding-bottom: 84px;

    @include bgImage("../img/bg/cta-bg.jpg"); 

    &::before {
        @extend %overlay;
    }

    & a {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 60px;
        max-width: 230px;

        text-decoration: none;
        line-height: 60px;
    }
}


.section-cta__content {
    position: relative;
    z-index: 9;
    text-align: center;
    color: #FFFFFF;
}

.section-cta__header {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
}

.section-cta__header--bold {
    font-weight: 700;
    text-transform: uppercase;
}

