.footer {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #1A1A1A;
    color: #fff;

    /*media tablet*/
    @media (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    /*media mobile*/
    @media (max-width: 899px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.footer__row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    /*media tablet*/
    @media (max-width: 1199px) {
        margin-bottom: 40px;
    }

    @media (max-width: 899px) {
        flex-direction: column;
        margin-bottom: 30px;
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        margin-bottom: 40px;
    }

}
.footer__nav {
    margin-right: 50px;

    /*media mobile*/
    @media (max-width: 899px) {
        margin-right: 0;
        margin-bottom: 30px;
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer__nav > *{
    color: #fff;
    text-decoration: none;
}

.footer__nav-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;

    transition: .2s ease-in;

    margin-right: 50px;

    &:last-child {
     margin-right: 0;
    }

    &:hover {
    color: #15D784;
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}


.footer__social {
    display: flex;
}

.footer__social-item {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 30px;

    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.1);

    transition: .2s ease-in;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: $accentText;
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        margin-right: 20px;
    }
}

.footer__copyright {
    text-align: center;
    color: rgba(255, 255, 255, .3);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;

    & p + p {
        margin-top: 15px;
    }
}
 