.section-tasks {
    padding-top: 80px;
    padding-bottom: 40px;
    border-bottom: 1px solid #E1E1E1;

    /*media tablet*/
    @media (max-width: 1199px) {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    /*media mobile*/
    @media (max-width: 899px) {
        padding-bottom: 10px;
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.section-tasks__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 114px;

    /*media tablet*/
    @media (max-width: 1199px) {
        padding-left: 75px;
        padding-right: 0;
    }

    /*media mobile*/
    @media (max-width: 899px) {
        padding-left: 0;
        flex-direction: row-reverse;
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        flex-direction: column-reverse;
    }
}

.section-tasks__row > * {
    flex-shrink: 0;
}

.section-tasks__content {
    width: 570px;

    /*media tablet*/
    @media (max-width: 1199px) {
        width: 495px;
    }

    /*media mobile*/
    @media (max-width: 899px) {
        width: 270px;
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        text-align: center;
    }
}

.section-tasks__header {
    margin-bottom: 30px;
    /*media tablet*/
    @media (max-width: 1199px) {
        // font-size: 38px;
        margin-bottom: 20px;
    }

    /*media mobilexs*/
    @media (max-width: 599px) {
        width: 290px;
    }
}

.section-tasks__title {
    margin-bottom: 30px;
    /*media tablet*/
    @media (max-width: 1199px) {
        margin-bottom: 20px;
    }
    /*media mobilexs*/
    @media (max-width: 599px) {
        margin-bottom: 10px;
    }
}

.section-tasks__subtitle {
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    color: #2E2E2E;
}
 
.section-tasks__text {
    width: 400px;
    color: $secondaryTextColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14;

    /*media tablet*/
    @media (max-width: 1199px) {
        width: unset;
        max-width: 420px;
    }

    /*media mobile*/
    @media (max-width: 899px) {
        line-height: 1.7;
    }
}

.section-tasks__text p {
    margin-bottom: 15px;
}

.section-tasks__image {

   /*media tablet*/
   @media (max-width: 1199px) {
       width: 265px;
   }

   /*media mobile*/
   @media (max-width: 899px) {
       width: 270px;
   }

   /*media mobilexs*/
   @media (max-width: 599px) {
       width: 100%;
       margin-bottom: 10px;

       img {
           width: 270px;
           margin-left: auto;
           margin-right: auto;
       }
   }
}

// коммент  